body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --row-size: (2 / 15);
  --row-gap-size: (1 / 30);
  --sec-modal-width: (2/3);
  --price-model-scroll: (1/5);
}
  /* Main Page */
  /* Securities List */
.securities-list{
  display: grid;
  grid-template-columns:  5% 5% 80% 5% 5%;
  grid-auto-rows: calc(100vh * var(--row-size) );
  row-gap: calc(100vh * var(--row-gap-size) )
}
.add-security-btn{
  padding: 0;
  font-size: 1em;
  font-weight: 600;
  height: 50%;
  width: 12.5%;
  grid-column: 3;
  background-color: rgb(0, 181, 50);
  color: white;
  border: none;
  border-radius: 5px;

}
    /* Security Card */
.security-card {
  justify-self: stretch;
  border: 1px solid rgb(215, 215, 215);
  box-shadow:  0 1px rgb(215, 215, 215);
  grid-column: 3;
  display: grid;
  grid-template-columns: 2.5% 19.25% 14.25% 57.75% 6.25%; 
  grid-template-rows: 25% 25% 25% 25%
}
.security-card > h3 {
  font-weight: 500;
  font-size: 1.4em;
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  margin: 0;
}
.security-card > p {
  align-self: center;
  margin: 0;
  grid-row: 3;
  color: rgb(120, 120, 120);
}
.security-card > p:nth-child(2){
  grid-column: 2;
  justify-self: start;
}
.security-card > p:nth-child(3){
  grid-column: 3;
  justify-self: start;
}
.security-card > button:nth-child(4){
  grid-column: 4;
  grid-row: 3;
  justify-self: start;
  background-color:  rgb(249, 250, 249);
  border-radius: 5px;
  padding:5px;
  border: 1px solid rgb(215, 215, 215);
  box-shadow:  0 1px rgb(215, 215, 215);
}
.security-card > button:nth-child(5){
  grid-column: 5;
  grid-row: 3;
  justify-self: start;
  padding: 5px;
  background-color:  rgb(249, 250, 249);
  border-radius: 5px;
  border: 1px solid rgb(215, 215, 215);
  box-shadow:  0 1px rgb(215, 215, 215);

}
.prices-link, .edit-link{
  /* text-decoration: underline; */
}
/* Security Modal and Prices Modal */
.prices-modal, .security-modal {
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 0px;
  border: 1px solid black;
  /* sizes modal proportionatley to vh */
  height: calc( 100vh / 3);
  width: calc( 100vw / var(--sec-modal-width))
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
    /* Prices Modal */
.prices-modal > .modal-content{
  border-radius: 5px;
  width: 40%;
  height: calc(100vh * (2/5));
}
.top-modal-wrapper {
  box-sizing: border-box;
  height: calc(100vh * (7/20));
  padding: 2% 0 2% 0;
}
.top-modal-wrapper > header{
  margin: 2% 2% 2% 5%;
}
.top-modal-wrapper > button {
  margin: 3% 2% 2% 5%;
}
.prices-div {
  display: grid;
  overflow: scroll;
  box-sizing: border-box;
  height: calc(100vh * var(--price-model-scroll));
  grid-template-columns: 100%;
  grid-auto-rows: 17%;
}
.price-row > button{
  padding: 5px;
  background-color:  rgb(249, 250, 249);
  border-radius: 5px;
  border: 1px solid rgb(215, 215, 215);
  box-shadow:  0 1px rgb(215, 215, 215);
}
.price-row {
  display: grid;
  color: rgb(120, 120, 120);
  grid-template-columns: 5% 40% 25% 15% 15%;
  grid-auto-rows: 100%;
}
.add-price-row{
margin: 3%;
}
.add-price-row > input{
  margin-left: 4%;
  width: 30%;
}
.add-price-row > button, .conditional-btn {
   margin-left: 2%;
  padding: 5px;
  font-size: 1em;
  font-weight: 600;
  width: 12.5%;
  background-color: rgb(0, 181, 50);
  color: white;
  border: none;
  border-radius: 5px;

}
.price-row > p, .price-row > button{
  align-self: center;
  justify-self: start;
}
/* dates */
.price-row > p:nth-child(4n-3){
 grid-column: 2/ span 1;
}
.price-row > button:nth-child(4n){
  background-color:rgb(249,80,51);
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.prices-close-div{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(57, 57, 57);
  box-sizing: border-box;
  border-top: 1px solid black;
  justify-content: flex-end;
  height:  calc( 100vh * (1/20));
  width: 100%;
  margin: auto;
  text-align: right;
}
.prices-close-btn{
  margin: 1% 3% 1% 1%;
  padding: 5px;
  font-size: 1em;
  font-weight: 600;
  width: 12.5%;
  background-color:rgb(249,80,51);
  color: white;
  border: none;
  border-radius: 5px;
}

  /* Security Add/Edit Modal */

.security-modal > .modal-content{
  width: 40%;
  border-radius: 5px;
}
.top-security-wrapper {
  height: calc( 17 / 20 * 100%);
  box-sizing: border-box;
  padding: 5%;
  color: rgb(120, 120, 120);
}
.security-form {
  margin: 3% 0 2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.security-form > div > input, .security-form > div > select {
  font-size: 1em;
}
.name-input, .ISIN-input{
  width: 50%;
}
.country-input{
  margin-top: 3%;
  flex-grow: 1;
}
#countries{
  width: 42%;
}
.security-close-div{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(57, 57, 57);
  display: grid;
  box-sizing: border-box;
  border-top: 1px solid black;
  height: calc( (3 / 20) * 100%);
  grid-template-columns: 4% 66% 10% 20%;
}
.security-close-div > .cancel-security-btn{
  align-self: center;
  background-color:  rgb(249, 250, 249);
  border-radius: 5px;
  border: 1px solid rgb(215, 215, 215);
  box-shadow:  0 1px rgb(215, 215, 215);
  padding: 5px;
}
.delete-security-btn{
 justify-self: start;
 grid-column: 2;
 align-self: center;
 background-color:rgb(249,80,51);
 border: 1px solid rgb(249,80,51);
 color: white;
  font-weight: 550;
 border-radius: 5px;
 padding: 5px;
}
.cancel-security-btn{
  justify-self: center;
  font-weight: 550;

}
.save-security-btn{
  justify-self: center;
  align-self: center;
  padding: 5px;
  font-size: 1em;
  font-weight: 550;
  background-color: rgb(0, 181, 50);
  border: 1px solid rgb(0, 181, 50);
  color: white;
  border: none;
  border-radius: 5px;

}